* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.header-scroll {
    background-color: rgba(17, 17, 17, 0.85);
    transform: translateX (0px);
    display: block;
}

ul {
    list-style: none;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.header_logo {
    float: left;
    margin-left: 8px;
    width: 317px;
    height: 105px;
}

.header_logo img {
    margin-left: 20px;
}

.header_navwrap {
    display: inline-block;
    position: relative;
    margin-left: -34px;
}

.header_navbar {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    margin-left: 40px;
}

.header_navbar .header_navitem {
    font-size: 14px;
    margin: 0 15px !important;
}

.header_navitem:hover,
.header_navitem--focus {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.header_navitem {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    width: auto;
    height: 66px;
    line-height: 66px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.header_login {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 210px;
    height: 100%;
    white-space: nowrap;
    font-size: 14px;
}

.header_download {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
}

.header_login {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 210px;
    height: 100%;
    white-space: nowrap;
    font-size: 14px;
}

.header_login .login_btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 0;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    color: #ccc;
    cursor: pointer;
}

.header_login .login_btn img {
    margin-left: 18px;
    width: 27px;
    height: 27px;
    opacity: 0.6;
}

.transition-img {
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
}

.hero .poster {
    background-image: url("./img/Mondstat.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.hero .poster_sign {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100vh;
    left: 50%;
    width: 100%;
    min-height: 280px;
    transform: translate(-50%, -340px);
}

.hero .poster_sub {
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 /68%);
    margin: 32px auto 27px;
}

.hero .poster_download {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.hero .poster_download li {
    flex-shrink: 0;
    width: 188px;
    height: 62px;
    margin-right: 15px;
    opacity: 0.8;
}

.hero .poster_download li a {
    display: flex;
    width: 100%;
    height: 100%;
}

.hero .poster_download li a img {
    height: 100%;
    width: auto;
}

.hero .poster_arrows {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 28px;
}

.hero .poster_arrows-1 {
    top: 0;
    animation-delay: 0s;
}

.hero .poster_arrows-2 {
    top: 12px;
    animation-delay: 0.5s;
}

.hero .poster_arrows-3 {
    top: 24px;
    animation-delay: 1s;
}

.hero .poster_arrow {
    position: absolute;
    width: 100%;
    height: 24px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center 0;
    background-color: transparent;
    background-size: auto;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hero .poster_age {
    margin: 50% 1%;
    z-index: 9;
    left: 10px;
    border-bottom: 10px;
}

/* news */
.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 910px;
    color: #fff;
}

.news h3 {
    position: relative;
    margin: 183px auto 60px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.news_main {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
}

.slide-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news_link {
    display: flex;
    width: 100%;
    height: 100%;
}

.news_banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_swiper, .news_content {
    position: relative;
    width: 640px;
    margin: 0;
    background: rgb(38,18,12,0.62);
}

.news_tab_list {
    display: flex;
    align-items: flex-start;
    width: 592px;
    margin: 35px auto 0;
    border-bottom: 3px solid rgba(255,255,255,0.1);
}

.news_tab_item--active {
    color: #ffd49f;
}

.news_tab_item {
    position: relative;
    padding: 0 19px 12px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.news_list {
    width: 592px;
    margin: 0 auto;
}

.news_item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(255,255,255,0.8);
    box-sizing: content-box;
    font-size: 16px;
    color: #fff;
}

.news_more {
    position: absolute;
    right: 33px;
    bottom: 30px;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    color: rgba(255,255,255,0.75);
    cursor: pointer;
    padding-left: 38px;
}


@media screen and (max-width: 1280px) {
    .hero .poster {
        width: 1280px;
        background-size: contain;
    }

    .hero .poster_age {
        margin: 50% 5%;
    }

    .hero .poster_download {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}